DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=replace-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DATABASE_URL=postgres://autopazar:autopazar@127.0.0.1:5432/autopazar
REDIS_URL=redis://127.0.0.1:6379/0
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=no-reply@autopazar.mk
SITE_URL=http://localhost:8000
USE_S3=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
AWS_S3_REGION_NAME=
AWS_S3_CUSTOM_DOMAIN=
AWS_S3_ADDRESSING_STYLE=
AWS_QUERYSTRING_AUTH=False
AWS_S3_FILE_OVERWRITE=False
POSTGRES_DB=autopazar
POSTGRES_USER=autopazar
POSTGRES_PASSWORD=autopazar
GUNICORN_WORKERS=3
CELERY_TASK_ALWAYS_EAGER=False
