.env
.env.local
.pytest_cache/
.mypy_cache/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.py,cover
htmlcov/
.coverage
node_modules/
static_build/
media/
staticfiles/
dist/
.DS_Store
.idea/
.vscode/

